* {
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  width: 100%;
  /* background-color: #a88328; */
}

.App {
  display: flex;
  justify-content: center;
  font-family: Geneva, Tahoma, Verdana, sans-serif;
  font-size: 12px;
  background-color: #8aabff;
  width: 50%;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-left: 25%;
  margin-right: 25%;
  border-radius: 5px;
}
.todo-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 700px;
}

input {
  outline: none;
}

h1 {
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  font-size: 2.5em;
}

@media screen and (max-width: 769px) {
  .App {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 10px;
  }

  .todo-box {
    min-height: 500px;
  }
}
