.todoListContainer:first-child {
  display: none;
}

.todoListContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  /* font-size: 2em; */
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.todoListContainer:last-child {
  margin-bottom: 40px;
}

.checkboxRendered {
  margin-right: 10px;
}

.todoText {
  width: 60%;
  font-size: 1.8em;
}

.checkboxRendered,
.todoText {
  align-self: center;
}

.editDeleteBtn {
  display: flex;
  align-items: center;
  font-size: 1.5em;
}

#deleteBtn,
#editBtn {
  padding: 5px 5px 5px 5px;
  color: white;
}

.check input {
  width: 18px;
  height: 18px;
}
