.App {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.todo-box {
  width: 300px;
}

.addForm,
h2 {
  display: flex;
  justify-content: space-evenly;
}

.todoListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deleteBtn {
  margin-right: 10px;
}
