.App {
  display: flex;
  justify-content: space-evenly;
  box-sizing: border-box;
}

.todo-box {
  width: 300px;
}

.addForm,
h2 {
  display: flex;
  justify-content: space-evenly;
}

.updateForm {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.input {
  width: 120px;
  border-radius: 5px;
}

.todoListContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deleteBtn {
  margin-right: 5px;
}

.addEditBtn {
  margin-left: 5px;
}

button {
  border-radius: 5px;
  border: transparent;
  width: 50px;
  height: 25px;
}
